# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=whsec_DBDsgBh311qKpCLzWtovDIhuXUghNoMh
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_ENABLE_PAYMENTS=true

# Vapi Keys
VAPI_PRIVATE_KEY=
VITE_VAPI_PUBLIC_KEY=

# Google OAuth (YouTube Analytics)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
